@charset "UTF-8";

/*base*/

html {
    font-size: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.7;
    color: #363434;
    letter-spacing: .05rem;
    background: linear-gradient(45deg, #D2FFFFA6, #D2E6FFA6, #d2e2ff);

    /*    #D2E2FFA6*/
    background-size: 600% 600%;
    animation: GradientBackground 10s ease infinite;
}

@keyframes GradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

a {
    text-decoration: none;
    outline: none;
    color: #363434;
}

img {
    max-width: 100%;
    border: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
    /*左右に4%余白*/
}

p,
summary {
    font-size: .9rem;
}

ul {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

/*-----------------------------

header

-----------------------------*/

h1 {
    height: 142px;
    background-color: #fafeff;
}

h1 img {
    margin: 40px;
    height: 48px;
    width: auto;
}

.top-box {
    padding: 8rem 0 6.5rem;
    position: relative;
}

.title {
    width: 396px;
    margin: 0 auto;
    display: block;
}

.title:first-of-type {
    margin-bottom: 2.3rem;
}

.title:nth-of-type(2) {
    width: 240px;
}

/*-----------------------------

body

-----------------------------*/

h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 3rem;
}

h2 + p {
    text-align: center;
    padding-bottom: 1.4rem;
    font-size: .8rem;
}

/*-----------------------------

concept

-----------------------------*/

h3 p {
    width: 20rem;
    margin: 0 auto;
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    font-size: 1.9rem;
    quotes: '“', '”';
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: .5rem;
    color: #555;
}

h3 p::before {
    content: '“';
}

h3 p::after {
    content: '”';
}

h3 p::before,
h3 p::after {
    color: #afafaf;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: bold;
}

.concept p {
    text-align: center;
}

.concept p span {
    display: inline-block;
}

.concept {
    background-color: #FAFEFF;
    padding: 2.5rem 0 4rem;
    position: relative;
}

.custom-shape-concept {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-concept svg {
    position: relative;
    display: block;
    width: calc(146% + 1.3px);
    height: 66px;
}

.custom-shape-concept .shape-fill {
    fill: #D2E6FFA6;
}

/** For mobile devices **/
@media (max-width: 730px) {
    .custom-shape-concept svg {
        width: calc(190% + 1.3px);
        height: 66px;
    }
}


/*-----------------------------

about

-----------------------------*/

.about-box {
    background-color: #fafeff;
    padding: 2.5rem 0 4rem;
    position: relative;
}

#balance {
    text-align: center;
    margin-bottom: .5rem;
}

.abouts {
    display: flex;
    padding: 0 1rem 1rem;
}

.about {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    padding: 0 2rem;
}

.about i {
    font-size: 3rem;
    align-self: center;
    text-align: center;
    line-height: 8rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    color: #afafaf;
    background: #fafeff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.custom-shape-about {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-about svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 66px;
    transform: rotateY(180deg);
}

.custom-shape-about .shape-fill {
    fill: #D2E6FFA6;
}

/** For mobile devices **/
@media (max-width: 730px) {
    .custom-shape-about svg {
        width: calc(208% + 1.3px);
        height: 66px;
    }
}

/*-----------------------------

Works

-----------------------------*/

.works {
    display: flex;
    background-color: #FAFEFF;
    padding: 5rem 1.6rem;
    position: relative;
}

.work {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem;
}

summary {
    text-align: right;
    cursor: pointer;
    width: auto;
}

.img {
    height: 9rem;
    margin-bottom: 1rem;
}

.img:hover {
    opacity: .5;
}

#mc:hover {
    opacity: 1;
}

.img img {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo {
    height: 4rem;
    margin-bottom: 0;
}

.logo img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}


.custom-shape-work {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-work svg {
    position: relative;
    display: block;
    width: calc(184% + 1.3px);
    height: 66px;
}

.custom-shape-work .shape-fill {
    fill: #D2E6FFA6;
}

/** For mobile devices **/
@media (max-width: 730px) {
    .custom-shape-work svg {
        width: calc(208% + 1.3px);
        height: 66px;
    }
}

li p:first-of-type {
    font-weight: bold;
    color: #555;
    font-size: .95rem;
    background: linear-gradient(transparent 50%, #D2E6FFA6 50%);
}

li p:last-of-type {
    margin-bottom: 1.4rem;
}

/*-----------------------------

footer

-----------------------------*/


footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 2rem 0;
}

/*-----------------------------mobile版-----------------------------*/

@media (max-width: 730px) {

    .wrapper {
        max-width: 730px;
        min-width: 300px;
        margin: 0 auto;
    }

    p,
    summary {
        font-size: .83rem;
    }

/*-----------------------------

header mobile

-----------------------------*/

    h1 {
        height: 60px;
    }

    h1 img {
        margin: 10px;
        height: 38px;
    }

    .title {
        width: 76%;
    }

    title:first-of-type {
        margin-bottom: 2rem;
    }

    .title:nth-of-type(2) {
        width: 44%;
    }

/*-----------------------------

concept mobile

-----------------------------*/

    .top-box{
        padding: 7rem 1rem 5.5rem;
    }
    
    h2 {
        padding-top: 1.4rem;
        font-size: 1.2rem;
    }

    h3 p {
        width: 70%;
        font-size: 1.3rem;
    }

    .concept-p {
        padding: 0 1rem;
    }

    .concept-p p {
        margin-bottom: .7rem;
    }

/*-----------------------------

about mobile

-----------------------------*/

    .abouts {
        display: block;
    }

    .about {
        width: 100%;
        margin-bottom: 1rem;
    }

/*-----------------------------

works mobile

-----------------------------*/

    .works {
        display: block;
        padding: 3rem 1.6rem;
    }

    .work {
        width: 100%;
    }

    summary {
        margin-bottom: 2rem;
        text-align: center;
    }
}
